@media  screen and (max-width:1000px){

    nav{
        flex-direction: column;
    }
    .logo{
        justify-content: center;
        padding: 0 109px;
    }
    nav ul{
        justify-content: center;
        height: 34px;
    }
    .search input{
        margin: 9px 61px;
    }
    .card-item{
        width: 140px;
    }
}